.header__index {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 376px;
	height: 59px;
}

.svg__index {
	background-image: url(../../img/background_shape_1.svg);
	background-size: cover;
	margin-bottom: 30px;
}

.h2__index {
	margin-left: 30px;
}
