* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Open Sans", sans-serif;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.page-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	color: var(--primary);
}
.section-title {
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	color: var(--primary);
}
.page-subtitle {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: var(--primary-medium);
}
.name {
	font-size: 16px;
	font-weight: 600;
	color: var(--primary-medium);
}
.card-label {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: var(--primary-medium);
}
.motto {
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	color: var(--primary);
}
.card-paragraph {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: var(--primary);
}
