* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: var(--primary);
}